<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: commonHead}"></head>
<body>
	<div class="container text-center mt-5">
		<img src='https://cdn.dribbble.com/users/2084726/screenshots/11897843/media/f8a268a9e9a4cc3ab7b0c104a0301210.gif'/>
		<h1 th:text="'Bem vindo ao Sistema de Consultas Médicas, desenvolvido com SpringBoot'">Fallback Text</h1>
		<br/>
		<a th:href="@{/welcome}" class="btn btn-primary">Consultas Médicas</a>
	</div>
	</body>
</html>
